<!DOCTYPE html>
<Html lang="en_US" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Главная страница</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<meta http-equiv="refresh" content="100" >
		<meta charset="utf-8">
	</head>
	<body>
		<header id="Head">
			<script type="text/javascript" src="css/src/HideHeader.js"></script>
			<div class="Search">
				<form id="form">
					<input type="text" name="search" class="search" placeholder="Введите название товара">
					<button>Найти</button>
				</form>
			</div>
			<nav>
				<a href="Main" class="active">Товары</a>
				<a href="Delivery">Доставка</a>
				<a href="Contact">Контакты</a>
				<a href="About">О компании</a>
			</nav>
		</header>
		<div class="content">
			<div class="All" id="all">
				<tr th:each="wood : ${woods}">
				<div class="Product">
					<img th:src="'/api/v1/file/'+${wood.image}" width="290" height="189">
					<a th:text="${wood.Name}" th:href = "'/Product/'+${wood.Name}+'.'+${wood.id}" target = "_self"></a>

				</div>
				</tr>
			</div>	
		</div>







	</body>
</Html>